* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--bg);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1rem 2rem;
}

main {
    display: grid;
    grid-template-areas:
        'def method'
        'single range';
    grid-template-columns: 1fr 1fr;
}

#defLeapYear {
    grid-area: def;
}

#calMethodLeapYear {
    grid-area: method;
}

#calculatorSingle {
    grid-area: single;
}

#calculatorRange {
    grid-area: range;
}

footer {
    display: flex;
    margin: 1rem auto
}

footer h3 {
    font-size: 1rem;
    line-height: 1rem;
}

footer ul {
    display: flex;
    list-style: none;
    line-height: 1rem;
}

footer li {
    margin: 0 1em;
}

@media (max-width: 1080px) {
    main {
        grid-template-areas: 
        'def'
        'method'
        'single'
        'range';
        grid-template-columns: 1fr;
    }

    footer,
    footer ul {
        display: block;
    }
}