* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.vidBg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

header {
    position: fixed;
    width: 16vw;
    height: 100vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem auto;
}

nav {
    text-align: center;
    font-size: 2rem;
}

nav li a {
    display: block;
    padding: 1rem;
}

nav>ul>li {
    position: relative;
}

nav .dropdown {
    visibility: hidden;
    position: absolute;
    right: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 16vw;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

nav .dropdown li {
    background-color: rgba(0, 0, 0, 0.7);
}

nav>ul>li>a,
nav ul .dropdown li a {
    transition: background-color 0.3s ease;
}

nav>ul>li>a:hover,
nav ul .dropdown li a:hover {
    background-color: rgba(50, 50, 50, 0.8);
}

nav .dropdown {
    visibility: hidden;
}

nav ul li:hover .dropdown {
    opacity: 1;
    visibility: visible;
}

.snsLists {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 20px;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 10px 0;
}

.precontract-button {
    position: fixed;
    bottom: 0;
    margin: 20px;
    width: 64px;
    height: 69px;
    background-image: url('img/precontract_hover_before.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    /* 텍스트 숨기기 */
    transition: width 0.4s ease, height 0.3s ease;
}

.precontract-button:hover {
    background-image: url('img/precontract_hover_after.png');
    width: 192px;
    height: 64px;
}

.refLabel .fas {
    font-size: 60px;
    color: aliceblue;
}