$primary-color:black;

.container {
    $primary-color: red;
    background-color: $primary-color;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hello {
    color:$primary-color;
}