* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    /* min-height: 100%; */
    display: grid;
    grid-template-areas:
        'aside header header header'
        'aside main main main'
        'aside footer footer footer';
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    /* font-size: 5; */
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    'home about'
    'products contact';
    grid-template-columns: 1fr 1fr;
}

#home {
    grid-area: home;
}

#about {
    grid-area: about;
}

#products {
    grid-area: products;
}

#contact {
    grid-area: contact;
}

footer {
    grid-area: footer;
}